name: Generate sitemap
on:
  schedule:
    - cron: '0 0 * * *' # Runs every night at midnight
  workflow_dispatch:     # Adds a "Run workflow" button in the Actions tab
jobs:
  sitemap_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Generate the sitemap
        uses: cicirello/generate-sitemap@v1
        with:
          base-url-path: https://marbletrack.github.io
      - name: Commit and push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add sitemap.xml
          git commit -m "Automated sitemap update"
          git push
